html,
body {
	color: #444;
	font-size: 14px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
	padding: 20px;
}

.headerImage {
	width: 100%
}

article {
	max-width: 100%;
}

div > img {
	max-width: 100%;
	margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
	color: red;
}